.app-action {
	display: inline-block;
	position: fixed;
  	bottom: 20px;
  	right: 20px;
}

.app-mat-spinner{
    height: 100% !important;
    width: 100% !important;
    > svg {
      height: 100% !important;
      width: 100% !important;
    }
}

.mat-mini-fab{
	margin: 5px;
}

.mat-list{
	margin-right: 80px;
}
